body {
    font-family: Arial, sans-serif;
    background-color: gainsboro;
}

a {
    text-decoration: none;
}

a:first-child {
    font-family: monospace;
}

a:hover {
    color: darkcyan;
}
.title {
    color: darkolivegreen;
}

h1 {
    text-align: center;
    font-size: 55px;
}

h2 {
    text-align: center;
    font-size: 35px;
}

table {
    margin: 0 auto;
    width: 80%;
    border: 2px solid black;
    background-color: aqua;
    border-radius: 6px;

}


th {
    border: 2px solid black;
    font-size: 20px;
    padding: 10px 0;

}

thead th {
    background-color: blueviolet;
}

tbody th {
    background-color: blanchedalmond;
}
